hint-font = false
font = usr/share/fonts/TTF/JetBrainsMonoNerdFontMono-Medium.ttf
ascii-input = true
num-results = 7
drun-launch = true

# Window
width = 470
height = 350

outline-width = 1
outline-color = #1d2021
border-width = 0
border-color = #1d2021
background-color = #282828
corner-radius = 15


# Text
text-color = #fabd2f
text-cursor = true
text-cursor-style = bar
text-cursor-thickness = 2
prompt-text = ">"
prompt-padding = 10
default-result-color = #bdae93
selection-color = #fbf1c7

