# ------------------------------------------------------------------------------
# i3 config file (v4)
# ------------------------------------------------------------------------------
set $mod Mod4

# ------------------------------------------------------------------------------
# Look and feel
# ------------------------------------------------------------------------------
for_window [class="^.*"] border pixel 0
font pango:monospace 14
gaps inner 5

# ------------------------------------------------------------------------------
# Manage applications
# ------------------------------------------------------------------------------
bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Shift+q kill
bindsym $mod+d exec dmenu_run

# ------------------------------------------------------------------------------
# Window Management
# ------------------------------------------------------------------------------
floating_modifier $mod

bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

mode "resize" {
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym semicolon resize grow width 10 px or 10 ppt

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

# ------------------------------------------------------------------------------
# Container Management
# ------------------------------------------------------------------------------
bindsym $mod+h split h
bindsym $mod+v split v
bindsym $mod+f fullscreen toggle
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent
#bindsym $mod+d focus child

# ------------------------------------------------------------------------------
# Workspaces
# ------------------------------------------------------------------------------
set $ws1 "web"
set $ws2 "dev"
set $ws3 "admin"
set $ws4 "spare"

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4

bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4

# ------------------------------------------------------------------------------
# i3 process
# ------------------------------------------------------------------------------
bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# ------------------------------------------------------------------------------
# i3bar
# ------------------------------------------------------------------------------
bar {
    status_command i3status
}

# ------------------------------------------------------------------------------
# Starting layout
# ------------------------------------------------------------------------------
exec --no-startup-id "i3-msg 'workspace web;   append_layout ~/etc/i3/ws-web.json'"
exec --no-startup-id "i3-msg 'workspace admin; append_layout ~/etc/i3/ws-admin.json'"
exec --no-startup-id "i3-msg 'workspace dev;   append_layout ~/etc/i3/ws-dev.json'"
exec --no-startup-id /usr/bin/firefox
exec --no-startup-id /usr/bin/urxvt
exec --no-startup-id /usr/bin/urxvt
exec --no-startup-id /usr/bin/urxvt
exec --no-startup-id /usr/bin/urxvt
exec --no-startup-id /usr/bin/emacsclient -c
exec --no-startup-id "i3-msg 'workspace dev"
