general {
        interval = 10
}

order += "wireless wlp2s0"
order += "battery 0"
order += "tztime local"

wireless wlp2s0 {
        format_up = "%essid%quality %ip"
        format_down = "Wireless Down"
}

battery 0 {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        status_chr = "C"
        status_bat = "B"
        status_unk = "?"
        status_full = "F"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
        hide_seconds = true
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S"
}
